body {
  background-color: #9d7868;
}

 #frame {
      width: 32vw;
      height:35vw;
      background: #333333;
      position: absolute;
      bottom:1%;
      left: 25%;
    }
 #inside {
      width: 28vw;
      height:33vw;
      background: black;
      position: absolute;
      bottom:1%;
      left: 27%;
    }
  #framerectangle {
  	  width: 2vw;
      height:33vw;
      background: #333333;
      position: absolute;
      bottom:1%;
      left: 25%;
  }

  #framerectangle2 {
  	  width: 2vw;
      height:33vw;
      background: #333333;
      position: absolute;
      bottom:1%;
      left: 55%;
  }

  #hiddensquare {
  	  width: 40vw;
      height:33vw;
      background: #9d7868;
      position: absolute;
      bottom:1%;
      left: 57%;
  }

  #hiddensquare2 {
  	  width: 15vw;
      height:33vw;
      background: #9d7868;
      position: absolute;
      bottom:1%;
      left: 10.01%;
  }

 #doorleft {width: 13.8vw;
      height:33vw;
      background: gray;
      position: absolute;
      bottom:1%;
      left: 27%;
  animation-name: doorleft;
      animation-duration: 4s;
  animation-fill-mode: forwards;}

 #doorright {width: 13.8vw;
      height:33vw;
      background: gray;
      position: absolute;
      bottom:1%;
      left: 41.2%;
  animation-name: doorright;
      animation-duration: 4s;
  		animation-fill-mode: forwards;}

 #panelborder {width: 7vw;
      height:9vw;
      background: #333333;
      position: absolute;
      bottom:30%;
      left: 62%;
      border-radius: 5px;}

 #panel {width: 5.75vw;
      height:8vw;
      background: gray;
      position: absolute;
      bottom:31.2%;
      left: 62.65%;
  border-radius: 5px;}

  .level1 {
      width: 2.25vw;
      height:2.25vw;
      background: black;
      position: absolute;
      border-radius: 50%;
      top:50.5%;
      left: 63%;
      text-align: center;
      line-height: 1.75;
      color: white;
 		transition: 1s;
    text-decoration: none;}

    a {text-decoration: none;}
a:visited{color: black; }
a:link{
  color:black;

}

  .level2 {
      width: 2.25vw;
      height:2.25vw;
      background: black;
      position: absolute;
      border-radius: 50%;
      top:50.5%;
      left: 65.6%;
      line-height: 1.75;
      text-align: center;
      color: white;
      transition: 1s;
    }

      .level3 {
      width: 2.25vw;
      height:2.25vw;
      background: black;
      position: absolute;
      border-radius: 50%;
      top:56.5%;
      left: 63%;
      line-height: 1.75;
      text-align: center;
      color:white;
      transition: 1s;
    }

  .level4 {
      width: 2.25vw;
      height:2.25vw;
      background: black;
      position: absolute;
      border-radius: 50%;
      top:56.5%;
      left: 65.6%;
      line-height: 1.75;
      text-align: center;
      color:white;
      transition: 1s;
    }

  .level5 {
      width: 2.25vw;
      height:2.25vw;
      background: black;
      position: absolute;
      border-radius: 50%;
      top:62.5%;
      left: 64.3%;
      line-height: 1.75;
      text-align: center;
      color:white;
      transition: 1s;
    }

    .level1:hover {border: inset 1.4px;
    	border-color: black;
    	overflow: hidden
    	border-top: 1px solid transparent;
	background: white;
	color: black;}

	.level2:hover {border: inset 1.4px;
    	border-color: black;
    	overflow: hidden
    	border-top: 1px solid transparent;
	background: white;
	color: black;}

	.level3:hover {
		border: inset 1.4px;
		border-color: black;
	background: white;
	color: black;}

	.level4:hover {
		border: inset 1.4px;
		border-color: black;
	background: white;
	color: black;}

	.level5:hover {
		border: inset 1.4px;
		border-color: black;
	background: white;
	color: black;}

	#title1 { color: white;
		position: absolute;
		font-size: 42px;
		left: 28.5%;
		top:50%;
		font-family:Playfair Display SC;
	 }
	#title2 { color: white;
		position: absolute;
		font-size: 25px;
		left: 37%;
		top:60%;
		font-family: avenir;}
	#title3 { color: white;
		position: absolute;
		font-size: 42px;
		left: 34%;
		top:67%;
		font-family:Playfair Display SC; }




	@keyframes doorleft { from{ transform: translateX(0);}
	to { transform: translateX(-120%); }

	 }

	 @keyframes doorright { from{ transform: translateX(0);}
	to { transform: translateX(120%); }

	 }