body {background: white;
background-color: #1b4c52;
background-image: url("https://www.transparenttextures.com/patterns/norwegian-rose.png");
}

#Line1 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

#Line1:hover {
	background: gray;
	color: black;}


#Line2 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line2:hover {
	background: gray;
	color: black;}

#Line3 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line3:hover {
	background: gray;
	color: black;}

a {text-decoration: none;}
a:visited{color: black; ;}
a:link{
	color:black;
}

#Line4 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line4:hover {
	background: gray;
	color: black;}

#Line5 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line5:hover {
	background: gray;
	color: black;}

#Line6 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line6:hover {
	background: gray;
	color: black;}

#Line7 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line7:hover {
	background: gray;
	color: black;}

#Line8 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line8:hover {
	background: gray;
	color: black;}

#Line9 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line9:hover {
	background: gray;
	color: black;}

#Line10 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line10:hover {
	background: gray;
	color: black;}

#Line11 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line11:hover {
	background: gray;
	color: black;}

#Line12 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line12:hover {
	background: gray;
	color: black;}

#Line13 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line13:hover {
	background: gray;
	color: black;}

#Line14 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line14:hover {
	background: gray;
	color: black;}

#Line15 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line15:hover {
	background: gray;
	color: black;}

#Line16 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line16:hover {
	background: gray;
	color: black;}

#Line17 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line17:hover {
	background: gray;
	color: black;}

#Line18 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line18:hover {
	background: gray;
	color: black;}

#Line19 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line19:hover {
	background: gray;
	color: black;}

#Line20 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line20:hover {
	background: gray;
	color: black;}

#Line21 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line21:hover {
	background: gray;
	color: black;}

#Line22 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line22:hover {
	background: gray;
	color: black;}

#Line23 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line23:hover {
	background: gray;
	color: black;}

#Line24 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
	}

	#Line24:hover {
	background: gray;
	color: black;}

#Line25 {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 150px;
		font-style: bold;
		text-align: center;
		color:black;
		color:black;
		-webkit-mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  mask-image: url("https://www.transparenttextures.com/patterns/mooning.png");
		;}

		#Line25:hover {
	background: gray;
	color: black;}

#top {font-family: 'font-family:Archivo Black', sans-serif;
		font-size: 15px;
		font-style: bold;

		text-align: center;}