#L1 {
border: 25px solid;}
#L2 {
border: 25px solid;}
#L3 {
border: 25px solid;}
#L4 {
border: 25px solid;}
#L5 {
border: 25px solid;}
#L6 {
border: 25px solid;}
#L7 {
border: 25px solid;}
#L8 {
border: 25px solid;}
#L9 {
border: 25px solid;}
#L10 {
border: 25px solid;}
#L11 {
border: 25px solid;}
#L12 {
border: 25px solid;}
#L13 {
border: 25px solid;}