#T1 {position:absolute;
	left:500px;}
#T2 {position: absolute;
	left:500px;
	top:20px;}
#T3 {position: absolute;
	left:500px;
	top:30px;}
#T4 {position: absolute;
	left:500px;
	top:40px;}
#T5 {position: absolute;
	left:500px;
	top:50px;}
#T6 {position: absolute;
	left:500px;
	top:60px;}
#T7 {position: absolute;
	right:500px;
top:2360px}
#T8 {position: absolute;
	right:500px;
	top:2370px;}
#T9 {position: absolute;
	right:500px;
	top:2380px;}
#T10 {position: absolute;
	right:500px;
	top:2390px;}
#T11 {position: absolute;
	right:500px;
	top:2400px;}
#T12 {position: absolute;
	right:500px;
	top:2410px;}