body {background-color: #491346;
color:black;
font-size: 24px;
position: absolute;
bottom: 1%;
right: 1%;
font-family: Roboto;}

a:link {text-decoration: none;}
a:visited {text-decoration: none;
color: black;}
a:hover {color: #491346;
transition: 1s;}