body {background-color: beige;
text-align: center;
font-size: 20px;
top:50%;
position: absolute;
left: 42%;
font-family: Roboto;}

a:link {text-decoration: none;}
a:visited {text-decoration: none;
color: black;}
a:hover {color: beige;
transition: 1s;}