body {background: dodgerblue;
font-size: 100px;
text-align:center;
font-family: Roboto;}

a:link {text-decoration: none;
color: black;}
a:visited {text-decoration: none;
color: black;}
a:hover {color: dodgerblue;
transition: 1s;}