#B1 {border: 14px black dashed;}
#B2 {float: right;
	border: 15px black solid;
	height: 200px}
#B3 {border: 1px black dashed;}
#B4 {border: 8px black dotted;}
#B5 {float: right;
	border: 5px black solid;
	height: 131px}
#B6 {border: 6px black solid;
	height: 157px}
#B7 {border: 1px black dashed;
	height:80px;
float: right;}
#B8 {border: 4px black solid;
	height:51px;}
#B9 {border: 11px black dotted;
 height:147px;
float: right;}
#B10 {border: 9px black dashed; 
	height:44px;}
#B11 {border: 12px black dashed; 
	height:95px;
float: right;}
#B12 {border: 15px black dotted;
	height:188px;}
#B13 {border: 7px black solid;
	height:42px;
float: right;}
#B14 {border: 4px black dashed; height:51px;}
#B15 {border: 13px black dotted; height:160px;
float: right;}
#B16 {border: 12px black solid; height:69px;}
#B17 {border: 4px black dashed; height:145px;
float: right;}
#B18 {border: 12px black solid; height:187px;}
#B19 {border: 14px black dotted; height:116px;
float: right;}
#B20 {border: 13px black dotted; height:169px;}
#B21 {border: 8px black solid; height:19px;
float: right;}
#B22 {border: 3px black solid; height:147px;}
#B23 {border: 7px black dashed; height:17px;
float: right;}
#B24 {border: 14px black dotted; height:64px;}