body {background: black;}

	    #Logo {
      width: 5vw;
      height: 2.95vw;
      border-radius: 5px;
      background: white;
      position: absolute;
      bottom:87%;;
      left: 3.75%;}

      #search {
      width: 5vw;
      height: 2.95vw;
      background: orange;
      border-radius: 5px;
      position: absolute;
      left: 8.8%;
      bottom:87%; }

      #r3 { width: 99vw;
      height: 10vw;
      right:400px;
      background: #1b1b1b;
      bottom:78%;
      z-index:-1
       }

      #r4 { width: 50vw;
            height: 2vw;
      	background:#363636;
      	position: absolute;
      bottom:88%; 
      left:15%;
      border-radius: 2px}

      #r5 {width: 5vw;
      height: 2vw;
      	background:orange;
      	position: absolute
            ;
      bottom:88%; 
      left:63%;
      border-radius: 3px}

      #r6 {width: 5vw;
      height: 2vw;
            background:#363636;
            position: absolute
            ;
      bottom:88%; 
      left:69.5%;
      border-radius: 3px}

      #r7 {width: 5vw;
      height: 2vw;
            background:orange;
            position: absolute
            ;
      bottom:88%; 
      left:76%;
      border-radius: 3px}

      h1 {color:white;
            position: relative;
            left: 320%;
            bottom:105%;}

      h2 { color:white;
            position: relative;
            left: 320%;
            bottom:105%; }

      #r8 {width: 18.5vw;
            height: 18.5vw;
            background:white;
            position: absolute;
            ;
      bottom:20%; 
      left:5%;}

      #r9 {width: 18.5vw;
            height: 18.5vw;
            background:white;
            position: absolute;
            ;
      bottom:20%; 
      left:30%;}

      #r10 {width: 18.5vw;
            height: 18.5vw;
            background:white;
            position: absolute;
            ;
      bottom:20%; 
      left:55%;}

      #r11 {width:18.5vw;
            height: 1.5vw;
            background:orange;
            position: absolute;
            ;
      bottom:13%; 
      left:55%;}

      #r12 {width:18.5vw;
            height: 1.5vw;
            background:orange;
            position: absolute;
            ;
      bottom:13%; 
      left:30%;}

      #r13 {width:15vw;
            height: 1.5vw;
            background:orange;
            position: absolute;
            ;
      bottom:13%; 
      left:5%;}

      #r14 {width:10vw;
            height: 1.5vw;
            background:orange;
            position: absolute;
            ;
      bottom:7%; 
      left:55%;}




