#L1 {color: white;
	font-size:55px;
text-shadow: 5px 5px gray;
text-align: right;}
#L2 {color: white;
	font-size:15px;
text-shadow: 5px 5px gray;}
#L3 {color: white;
	font-size:55px;
text-shadow: 5px 5px gray;
text-align: right;}
#L4 {color: white;
	font-size:15px;
text-shadow: 5px 5px gray;}
#L5 {color: white;
	font-size:55px;
text-shadow: 5px 5px gray;
text-align: right;}
#L6 {color: white;
	font-size:15px;
text-shadow: 5px 5px gray;}