#Line1 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: center;}

#Line2 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line3 {font-family: 'Playfair Display SC', serif;
		font-size: 73px;
		font-style: bold;
		text-align: left;}

a {text-decoration: none;}
a:visited{color: black; ;}
a:link{
	color:black;
}

#Line4 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line5 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line6 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line7 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line8 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line9 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line10 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line11 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}
#Line12 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line13 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line14 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line15 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line16 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line17 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line18 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}
#Line19 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line20 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line21 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line22 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line23 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#Line24 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: right;}

#Line25 {font-family: 'Playfair Display SC', serif;
		font-size: 75px;
		font-style: bold;
		text-align: left;}

#top {font-family: 'Playfair Display SC', serif;
		font-size: 15px;
		font-style: bold;
		text-align: center;}